.footertext {
    color: #36b1bf;
    text-align: center;
    //margin: 20px;
    padding-left: 40px;
    margin-left: 100px;
    margin-top: 10px;
}
.text-right {
    margin: 20px;
    padding: 20px;
    padding-left: 30px;
}

.logo-footer {
    width: 136px;
    height: 35px;
}

.conteiner-footer{
  background-color: yellow !important;
}
