.fondo3 {
    position: absolute;
    width: 50%;
    right: 0;
    color: white;
    background-color: #1fe747;
    height: 100%;
}


#myCarousel2 {
    padding-top: 0px;
    background: none;
}
#myCarousel2 .banner {

width: 104%;
right: 0;

height: 333px;
}
